{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
​
<section class="related_news_wrapper related_news_slider">
  <div class="container">
    <div class="row">
      {% for key,row in rows %}
      <div class="col-md-4 related_news_wrapper--item-single">
        <div class="related_news_wrapper--item">
        {% if row.columns.field_term_resource_asset_type.content.0.field_output['#markup'] == 'Lesson Plan' %}
          <div class="related_news_wrapper_assest_type lessonplan">{{ row.columns.field_term_resource_asset_type }}</div>
          {% else %}
            <div class="related_news_wrapper_assest_type resourceplan">{{ row.columns.field_term_resource_asset_type }}</div>
        {% endif %}

          <div class="related_news_wrapper_img">{{ row.columns.field_resource_card_image }}</div>
          <div class="related_news_wrapper--inner">
            <div class="related_news_wrapper_title">{{ row.columns.title }}</div>
            <div class="related_news_wrapper_desc">{{ row.columns.field_resource_card_summary }}</div>
            <div class="related_news_wrapper_grade">{{ row.columns.field_term_resource_grade }}</div>
          </div>
          <div class="related_news_wrapper_cls"><span>{{ "Career Lifecycle Stage: "|t }}</span>{{ row.columns.field_term_resource_stage }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
