{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div class="search-solr-box--wrapper">
  <div class="search-solr-box__inner">
    <div class="container">
      <div class="search-solr-box">
          <div class="filterbox">
              <div class="filterbox__input search_keyword">
                  {{ form.search_api_fulltext }}<span>search</span>
              </div>
          </div>
      </div>

      <div class="search-solr-box__filter">
        <div class="filterbox">
          <div class="filterbox__title">{{ "Filters"|t }}</div>
          <div class="mobfilter">
            <div class="filterbox__title show_title"><span>{{ "Show Filters"|t }}</span></div>
            <div class="filterbox__title hide_title"><span>{{ "Hide Filters"|t }}</span></div>
          </div>
          
          <div class="filterbox__selectgroup">
      
            <div class="filterbox__dd filterbox__dd-grade">
              {{ form.field_term_resource_grade }}
            </div>

            <div class="filterbox__dd filterbox__dd-stage">
              {{ form.field_term_resource_stage }}
            </div>
        
            <div class="filterbox__dd filterbox__dd-competency">
              {{ form.field_term_resource_competency}}
            </div>
        
            <div class="filterbox__dd filterbox__dd-audience">
              {{ form.field_term_resource_audience}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="show-result-wrapper">
    <div class="container">
      <div class="sort-box search-assest">
        {{ "Show:"|t }} {{ form.field_term_resource_asset_type }}
      </div>
    </div>
  </div>
</div>
   

{{ form|without('field_term_resource_asset_type', 'field_term_resource_audience', 'field_term_resource_competency', 'field_term_resource_stage', 'field_term_resource_grade', 'search_api_fulltext') }}