{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{{ attach_library('classy/node') }}

<div>
      <a href="https://www.workbc.ca/" title="WorkBC" rel="home" class="site-logo" target="_blank"><img src="/themes/custom/bcgov_teachers/assets/logo-workbc.png" alt="WorkBC" width="270" height="50"></a>
  
</div>	

<article{{ attributes.addClass(classes) }}>
	<p style="background-color: #efefef;margin-left: 5px;">
		<span style="margin-left: 15px;">
			<span style="font-size: 35px;">
				{{ "Lesson Plan: "|t }} {{ node.title.value }}
			</span>
			{% if node.field_term_resource_stage.value is not empty %}
			<span style="padding-top: -20px;">
				<span>{{ "Career Lifecycle Stage: "|t }}</span> {{ content.field_term_resource_stage }}
			</span>
			{% endif %}
			{% if node.field_resource_card_summary.getValue().0.value is not empty %}
			<span style="padding-top: -20px;">
				{{ node.field_resource_card_summary.getValue().0.value|raw }}
			</span>
			{% endif %}
			{% if node.field_term_resource_grade.value is not empty %}
				<span style="padding-top: -20px;">{{ content.field_term_resource_grade }}</span>
			{% endif %}
			{% if node.field_resource_time.value is not empty %}
				<span style="padding-top: -20px;">{{ node.field_resource_time.value }}</span>
			{% endif %}
		</span>
	</p>
	
								<a href="#" class="download-worksheets-button">
								  <p>{{ "Download Worksheet(s) & Lesson Plan"|t }}</p>
								</a>
          <ul class="file-list">
            {% set total_size = '' %}
            {% for key,subentity in node.field_resource_images if key|first != '#' %}
              {% if subentity.entity.field_media_document.0.entity.filename.value != '' %}
                {% set total_size = total_size + subentity.entity.field_media_document.0.entity.filesize.value %}
                <li>
                    {{ subentity.entity.field_media_document.0.entity.filename.value }}
                      {{ _self.bytesToSize(subentity.entity.field_media_document.0.entity.filesize.value) }}
                      <a href="{{ file_url(subentity.entity.field_media_document.0.entity.uri.value) }}" title="{{ subentity.entity.field_media_document.0.entity.filename.value }}" download target="_blank">Download</a>
                </li>
              {%  endif %}
            {% endfor %}
            <li class="download-all">
                {{ "Download all (ZIP)"|t }}
                {{ _self.bytesToSize(total_size) }}
                  <a href="/media_download_all/node/{{ node.nid.value }}/field_resource_images" title="Download All">Download All</a>
            </li>
          </ul>

    {# Main Container #}
              {% for key,subentity in node.field_add_resource_description if key|first != '#' %}
                    <a class="left-paragraph-{{ subentity.entity.id.value }}" href="#paragraph-{{ subentity.entity.id.value }}">{{ subentity.entity.field_main_heading.value }}</a>
                    <ul>
                      {% for lkey,lsubentity in subentity.entity.field_simple_descriotion if key|first != '#' %}
                        {% if lsubentity.entity.field_nav_title.value is not empty %}
                          <li>
                            <a class="left-paragraph-{{ subentity.entity.id.value }}" href="#paragraph-{{ lsubentity.entity.id.value }}">{{ lsubentity.entity.field_nav_title.value|striptags }}</a>
                          </li>
                        {% else %}
                          {% if lsubentity.entity.field_para_simple_title.value is not empty %}
                            <li>
                              <a class="left-paragraph-{{ subentity.entity.id.value }}" href="#paragraph-{{ lsubentity.entity.id.value }}">{{ lsubentity.entity.field_para_simple_title.value|striptags }}</a>
                            </li>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </ul>
              {% endfor %}
              {% for key,subentity in node.field_add_resource_description if key|first != '#' %}
              <div class="main-section {% if loop.first %} active {% endif %}" id="paragraph-{{ subentity.entity.id.value }}">
                    {% if subentity.entity.field_main_heading.value is not empty %}
                      {{ subentity.entity.field_main_heading.value }}
                {% endif %}
                    {% for lkey,lsubentity in subentity.entity.field_simple_descriotion if key|first != '#' %}
                      {% if lsubentity.entity.field_para_simple_title.value is not empty %}
                          {{ lsubentity.entity.field_para_simple_title.value|raw }}
                          {% if lsubentity.entity.field_show_bulb_icon.value == 1 %}
                            <span class="icon-bulb"><img src="/themes/custom/bcgov_teachers/images/bulb.svg" /></span>
                          {% endif %}
                      {% endif %}
                      {% if lsubentity.entity.field_para_simple_body.getValue().0.value is not empty %}
                          {{ lsubentity.entity.field_para_simple_body.getValue().0.value|raw }}
                      {% endif %}
                      {% if lsubentity.entity.field_show_download_link.value is not empty and lsubentity.entity.field_show_download_link.value == 1 %}
                          <a href="#" class="download-worksheets-button">
                            <p>{{ "Download Worksheet(s) & Lesson Plan"|t }}</p>
                          </a>
                      {% endif %}
                    {% endfor %}
                {% set next_key = key + 1 %}
                {% if node.field_add_resource_description[next_key].entity.field_main_heading.value is not empty %}
                  <a href="#">{{ "Proceed to "|t }} {{ node.field_add_resource_description[next_key].entity.field_main_heading.value }}</a>
                {% endif %}

              {% endfor %}
</article>

{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}


<footer class="mt-auto  ">
	<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
		<p class="social-icons">
			<a class="social-twitter" href="https://twitter.com/WorkBC" target="_blank">
				<i class="fab fa-twitter"><span>Twitter</span></i></a> 
			<a class="social-youtube" href="https://www.youtube.com/user/WorkBC" target="_blank">
				<i class="fab fa-youtube"><span>YouTube</span></i></a> 
			<a class="social-linkedin" href="https://www.linkedin.com/company/official-workbc/" target="_blank">
				<i class="fab fa-linkedin-in"><span>LinkedIn</span></i></a> 
			<a class="social-facebook" href="https://www.facebook.com/WorkBC" target="_blank">
				<i class="fab fa-facebook-f"><span>Facebook</span></i></a>
		</p>
	</div>
<nav role="navigation" aria-labelledby="block-bcgov-teachers-footer-menu" id="block-bcgov-teachers-footer" class="block block-menu navigation menu--footer">
            
  <h5 class="visually-hidden" id="block-bcgov-teachers-footer-menu">Footer menu</h5>
        
      <a href="http://www2.gov.bc.ca/gov/content/home/accessibility" class="nav-link" target="_blank">Accessibility</a> | <a href="https://www.workbc.ca/Browsers" class="nav-link" target="_blank">Browsers</a> | <a href="https://www.workbc.ca/Contact-Us.aspx" class="nav-link" target="_blank">Contact Us</a> | <a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" class="nav-link" target="_blank">Disclaimer</a> | <a href="http://www2.gov.bc.ca/gov/content/home/privacy" class="nav-link" target="_blank">Privacy</a> | <a href="https://www.workbc.ca/Resources-for.aspx" class="nav-link" target="_blank">WorkBC Resources</a>
  

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Copyright ©&nbsp;2021&nbsp;<a href="https://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Province of British Columbia. All rights reserved.</a></p>
</div>
      
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a alt="alt=" british="" columbia="" href="http://www2.gov.bc.ca/" target="_blank"><img alt="British Columbia" src="/themes/custom/bcgov_teachers/assets/bc-logo.svg"></a></p>
</div>
      
</footer>
