{#
/**
 * @file
 * Default theme implementation of a checklist progress bar.
 *
 * Available variables:
 * - message: A string containing information to be displayed.
 * - number_complete: The number of items completed.
 * - number_of_items: The total number of items in the checklist.
 * - percent_complete: The percentage of the progress.
 *
 * @ingroup themeable
 */
#}
<div class="progress" data-drupal-progress>
  <div class="progress__track"><div class="progress__bar" style="width: {{ percent_complete }}%;"></div></div>
  <div class="progress__percentage">{{ number_complete }} of {{ number_of_items }} ({{ percent_complete }}%)</div>
  <div class="progress__description">{{ message }}</div>
</div>
